/* ----- GLOBAL RESET ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font embed */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


/* ----- GLOBAL VARIABLES ----- */

:root {
    --container-width: 1200px;
    --color-primary: #2667ff;
    --color-secondary: #0b1460;
    --color-tertiary: #6ef1b2;
    --color-body: #5c6185;
    --color-white: #fff;
    --color-black: #000000;
    --color-off-white: #f6f9fb;
    --color-primary-7: rgba(38, 103, 255, 0.07);
    --color-primary-10: rgba(38, 103, 255, 0.1);
    --color-secondary-10: rgba(11, 20, 96, 0.1);
    --color-white-10: rgba(255, 255, 255, 0.1);
    --color-white-60: rgba(255, 255, 255, 0.6);
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-dark: #151516;
    --color-deep-dark: #0b0b0b;
    --font-nunito: 'Nunito', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
}

/* ----- BASIC INITIALIZATION ----- */

.container {
    max-width: var(--container-width);
    width: 100%;
}

body {
    font-style: 16px;
    color: var(--color-body);
    font-weight: normal;
    font-family: var(--font-nunito);
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: var(--font-quicksand);
    color: var(--color-secondary);
    line-height: 1.3;
}

a {
    color: var(--color-body);
    text-decoration: none;
}

.btn {
    color: var(--color-white);
    font-style: 18px;
    font-weight: 700;
    line-height: 1.4;
    display: inline-block;
    background-color: var(--color-primary);
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    user-select: none;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    padding: 15px 35px;
    cursor: pointer;
}

.btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--color-secondary);
    visibility: hidden;
    border-radius: 5px;
    transition: all .4s ease;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    visibility: visible;
}

.btn, input {
    overflow: visible;
}

.btn-white {
    background-color: transparent;
    border: 2px solid var(--color-white);
}

.btn-white:hover {
    background-color: var(--color-white);
    border: 2px solid transparent;
    color: var(--color-primary);
}

.btn-white::before {
    background: var(--color-white);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

section {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* KEYFRAMES */

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0)
        scale(1.5);
        opacity: 0;
    }
}

/* ----- HEADER SECTION ----- */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

header .logo {
    margin-right: 200px;
}

header .header {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.nav-menu ul {
    margin-right: 200px;
}

.nav-menu ul li {
    display: inline-block;
}

.nav-menu ul li a {
    display: inline-block;
    font-style: 18px;
    color: var(--color-secondary);
    font-weight: 700;
    padding: 10px 20px;
    line-height: 1.4;

}

.nav-menu ul li.active a , .nav-menu ul li a:hover {
    color: var(--color-primary);
}

/* ----- HERO SECTION ----- */

.banner-top {
    text-align: center;
}

.banner-top p.top-text {
    font-style: 20px;
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-primary-10);
    padding: 10px 20px;
    margin-bottom: 32px;
    display: inline-block;
    border-radius: 5px;
}

.banner-top h1.main-heading {
    font-size: 75px;
    letter-spacing: -2px;
    color: var(--color-secondary);
}

.banner-top p.banner-bottom {
    margin: 30px auto;
    font-size: 18px;
    line-height: 1.8;
    width: 80%;
}

.banner-top .hero-btn {
    margin-bottom: 45px;
}

.header-wrapper {
    position: relative;
    z-index: 1;
}

.header-wrapper::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/hero/hero-bg-two.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

/* ----- SERVICES SECTION ----- */

.section-wrapper-bg {
    position: relative;
    z-index: 1;
}

.section-wrapper-bg::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/experience/blob-shape.png);
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -1;
    opacity: 0.06;
}

.sec-padding {
    padding-top: 150px;
    padding-bottom: 135px;
}

.section-title h2 {
    font-size: 45px;
}

.section-title p.tagline {
    font-size: 18px;
    line-height: 1.4;
    margin: 12px auto;
    color: var(--color-primary);
}

.services .services-box {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    justify-content: center;
}

.services .services-box .single-services {
    width: calc(30% - 30px);
    padding: 30px 40px 25px;
    background-color: var(--color-primary-7);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.services .services-box .single-services .content {
    text-align: left;
}

.services .services-box .single-services .content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.services .services-box .single-services .content p {
    font-size: 16px;
}

.services .services-box .single-services .image-box {
    display: inline-block;
    flex: 0 0 55px;
    margin-right: 20px;
}

.services .services-box .single-services .image-box {
    transition: all .8s ease;
}

.services .services-box .single-services:hover .image-box {
    transform: rotateY(360deg) scale(1.2,1.2);
}

/* ----- EXPERIENCE SECTION ----- */

.experience {
    padding-top: 0px;
}

.experience .exp-container {
    display: flex;
    flex-wrap: wrap;
}

.experience .exp-left {
    width: 50%;
    margin-right: 70px;
}

.experience .exp-right {
    width: calc(50% - 70px);
}

.experience .exp-right .section-title {
    margin-bottom: 40px;
}


.experience .exp-left .img-box {
    display: flex;
    align-items: center;
    gap: 0 30px;

}

.experience .box-wrapper .single-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.experience .box-wrapper .single-box .icon i {
    display: inline-block;
    font-size: 40px;
    color: var(--color-primary);
    margin-right: 20px;
}

.experience .box-wrapper .single-box .texts h4 {
    font-size: 24px;
    letter-spacing: -0.4;
    margin-bottom: 10px;
}

.experience .box-wrapper .single-box .texts p {
    line-height: 1.4;
}

/* ----- COUNTER SECTION ----- */

.section-counter .container {
    min-width: 1400px;
}

.section-counter .counter-wrapper {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-primary);
    padding: 70px 100px;
    position: relative;
    z-index: 1;
}

.section-counter .counter-wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url(/assets/images/experience/wave-bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
}

.section-counter .counter-wrapper .single-counter {
    flex-basis: 25%;
    text-align: center;
}

.section-counter .counter-wrapper .single-counter span {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-white);
}

.section-counter .counter-wrapper .single-counter p {
    font-size: 17px;
    font-weight: 700;
    color: var(--color-white);
}

/* ----- PROJECTS SECTION ----- */

.projects .section-title {
    text-align: center;
}

.projects .portfolio .filter {
    text-align: center;
    margin: 50px auto;
}

.projects .portfolio .filter ul li {
    display: inline-block;
    font-family: var(--font-quicksand);
    font-weight: 700;
    font-size: 17px;
    background: transparent;
    border: 1px solid transparent;
    color: var(--color-secondary);
    margin: 3px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.projects .portfolio .filter ul li.active {
    background: var(--color-white);
    border-color: var(--color-secondary);
}

.projects .portfolio .items-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.projects .portfolio .items-wrapper .single-items {
    flex-basis: calc(33% - 30px);
    margin: 0 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.projects .portfolio .items-wrapper .single-items .img-box {
    position: relative;
    z-index: 1;
}

.projects .portfolio .items-wrapper .single-items .img-box .portfolio-details {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease;
}

.projects .portfolio .items-wrapper .single-items .img-box .portfolio-details::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: var(--color-white);
    transform: translate(-50%, -50%) scale(0.4);
    transition: all .4s ease;
}

.projects .portfolio .items-wrapper .single-items .img-box .portfolio-details::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 2px;
    height: 80px;
    background-color: var(--color-white);
    transform: translate(-50%, -50%) scale(0.4);    
    transition: all .4s ease;
}

.projects .portfolio .items-wrapper .single-items:hover .img-box .portfolio-details {
    opacity: 0.75;
}

.projects .portfolio .items-wrapper .single-items:hover .img-box .portfolio-details::before {
    transform: translate(-50%, -50%) scale(1);   
}

.projects .portfolio .items-wrapper .single-items:hover .img-box .portfolio-details::after {
    transform: translate(-50%, -50%) scale(1);   
}

.projects .portfolio .items-wrapper .single-items .bottom-contents {
    text-align: center;
    margin: 30px auto 50px;
}

.projects .portfolio .items-wrapper .single-items .bottom-contents h4 {
    font-size: 24px;
    /* font-weight: 600; */
    margin-bottom: 5px;
}

.projects .portfolio .items-wrapper .single-items .bottom-contents p {
    font-weight: 600;
    line-height: 1.4;
}

/* ----- CONSULTATION SECTION ----- */

.consultation {
    height: 100%;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 120px;
    background-image: url(/assets/images/consultation/consultation-bg.jpg);
    background-size: 100%;
    position: relative;
    z-index: 1;
}

.consultation::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/assets/images/consultation/triangle-pattern.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.consultation::after {
    position: absolute;
    content: '';
    top: 0;
    right: 10%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/assets/images/consultation/blob-white.png);
    /* background-size: 35%; */
    background-repeat: no-repeat;
    background-position: right center;
}

.consultation .section-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.consultation .section-wrapper .form-consultation {
    flex-basis: 40%;
    padding: 80px 50px 70px 50px;
    background-color: var(--color-white);
    box-shadow: 0px 10px 60px 0px rgba(38 103 255 / 20%);
    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.consultation .section-wrapper .form-consultation::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 15px;
    right: 15px;
    height: 100%;
    z-index: -1;
    border-radius: 12px;
    background: var(--color-white);
    opacity: 0.7;
}

.form-consultation .form-top {
    margin-bottom: 40px;

}

.form-consultation .form-top h4 {
    font-size: 30px;
    margin-bottom: 5px;
}

.form-consultation .form-body .input-field {
    margin-bottom: 15px;
}

.form-consultation .form-body .input-field input, .form-consultation .form-body .input-field .nice-select {
    padding: 20px 0 20px 20px;
    background: var(--color-primary-7);
    border: none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.3s;
    padding-left: 20px;
}

.form-consultation .form-body .input-field .nice-select {
    padding: 0 20px;
    font-family: var(--font-nunito);
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    color: var(--color-secondary);
    margin-bottom: 20px;
}

.form-consultation .form-body .input-field .nice-select .list {
    width: 100%;
}

.form-consultation .form-body .input-field input::placeholder {
    font-size: 18px;
    color: var(--color-secondary);
    font-weight: 600;
    font-weight: var(--font-nunito);

}

.form-consultation .form-body .input-field input:focus, select:focus {
    border: 2px solid var(--color-primary);
    outline: none;
    background: transparent;
}

.consultation .section-wrapper .consultation-right {
    flex-basis: calc(60% - 70px);
    padding-left: 70px;
}

.consultation-right .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.consultation-right .img-wrapper .img-one {
    flex: 0 0 60%;
    padding: 15px;
}

.consultation-right .img-wrapper .img-one img {
    border-radius: 0 50% 50% 50%;
    transition: all .4s ease;
}

.consultation-right .img-wrapper .img-one:hover img {
    border-radius: 50% 0 50% 50%;
}

.consultation-right .img-wrapper .img-two {
    flex: 0 0 40%;
    padding: 15px;
}



.consultation-right .img-wrapper .img-three {
    flex: 0 0 55%;
    padding: 15px;
}

.consultation-right .img-wrapper .img-four {
    flex: 0 0 28%;
    padding: 15px;
}

.consultation-right .img-wrapper .img-four img {
    border-radius: 50% 50% 0 50%;
    transition: all .4s ease;
}

.consultation-right .img-wrapper .img-four:hover img {
    border-radius: 50% 50% 50% 0;
}


/* ----- CTA (Call to Action) SECTION ----- */


.cta {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 80px 0;
    position: relative;
    z-index: 0;
}

.cta::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/cta_faq/cta-shape.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
    opacity: 0.1;
}

.cta .cta-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cta h2 {
    color: var(--color-white);
    font-size: 45px;
    margin-bottom: 10px;
}

.cta .cta-left p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

.cta .cta-left {
    flex-basis: 60%;
}

.cta .cta-right {
    flex-basis: 40%;
    text-align: right;
}

.cta .cta-right p.cta-tag {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    margin-right: 60px;
}

.cta .cta-right p.cta-tag::before {
    position: absolute;
    content: '';
    left: -40px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-tertiary);
    border-radius: 20px;
}

.cta .cta-right p.cta-tag::after {
    position: absolute;
    content: '';
    left: -34px;
    top: 6px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--color-tertiary);
    border-radius: 20px;
    background-color: var(--color-tertiary);
}
/* ----- TESTIMONIALS SECTION ----- */

.testimonials .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.testimonials .testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .testimonial-wrapper .single-testimonial {
    flex-basis: calc(50% - 30px);
    margin: 0 15px;
}

.testimonials .testimonial-wrapper .single-testimonial .testi-box {
    padding: 40px;  
    border: 1px solid var(--color-primary-10);
    position: relative;
    z-index: -1;
}

.testimonials .testimonial-wrapper .single-testimonial .testi-box .review p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.8;
    font-style: italic;
}

.testimonials .testimonial-wrapper .single-testimonial .box-bottom {
    display: flex;
    align-items: center;
    margin-top: 35px;
    padding-left: 30px;
    position: relative;
    z-index: -1;
}

.testimonials .testimonial-wrapper .single-testimonial .box-bottom::before {
    position: absolute;
    content: '';
    left: 59px;
    top: -35px;
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    border-style: var(--color-primary-10);
    border-width: 0 1px 1px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.testimonials .testimonial-wrapper .single-testimonial .box-bottom .content {
    margin-left: 15px;
}

.testimonials .testimonial-wrapper .single-testimonial .box-bottom h4 {
    font-size: 24px;
}

.testimonials .testimonial-wrapper .single-testimonial .box-bottom p {
    color: var(--color-primary);
}

.testimonials .testimonial-wrapper .slick-dots li button {
    display: none;
}

.testimonials .testimonial-wrapper .slick-dots li {
    position: relative;
    width: 8px;
    height: 8px;
    background: var(--color-primary);
    border-radius: 20px;
    display: inline-block;
    margin-right: 15px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 55px;
}

.testimonials .testimonial-wrapper .slick-dots li::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid var(--color-primary);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.testimonials .testimonial-wrapper .slick-dots li.slick-active::before {
    visibility: visible;
    opacity: 1;
}


/* ----- FAQ SECTION ----- */


.faq .faq-content-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 100px 60px 100px 0;
    box-shadow: 0px 10px 60px 0px rgba(38 103 255 / 10%);
}

.faq .left-content {
    width: 100%;
    max-width: 60%;
    margin-left: -160px;
}

.faq .left-content .video-count {
    background-image: url(/assets/images/cta_faq/faq-video.jpg);
    height: 590px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.faq .left-content .video-count::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    opacity: 0.7;
    z-index: 1;
}

.faq .left-content .video-count .video-icon {
    font-size: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.faq .left-content .video-count .video-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: var(--color-white);
    border-radius: 50%;
    opacity: 0.1;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
}

.faq .left-content .video-count .video-icon i {
    font-size: 30px;
}

.faq .right-content .faq-wrapper {
    margin-top: 40px;
    width: 100%;
}

.faq .right-content .faq-wrapper .single-faq {
    box-shadow: 0px 10px 60px 0px rgba(38 103 255 / 10%);
    margin-bottom: 10px;
}

.faq .right-content .faq-wrapper .single-faq h4 {
    font-size: 18px;
    padding: 18px 65px 18px 35px;
    background: var(--color-primary-7);
    line-height: 1.4;
    position: relative;
    cursor: pointer;
}

.faq .right-content .faq-wrapper .single-faq h4::before,
.faq .right-content .faq-wrapper .single-faq h4::after {
    position: absolute;
    content: '+';
    font-size: 30px;
    font-weight: 700;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.faq .right-content .faq-wrapper .single-faq h4::after {
    content: '-';
    font-size: 45px;
    visibility: hidden;
}

.faq .right-content .faq-wrapper .single-faq h4.open {
    background: var(--color-white);
}

.faq .right-content .faq-wrapper .single-faq h4.open::before {
    visibility: hidden;
}

.faq .right-content .faq-wrapper .single-faq h4.open::after {
    visibility: visible;
}

.faq .right-content .faq-wrapper .single-faq p {
    padding: 30px 35px 30px;
    line-height: 1.4;
}

.faq .right-content {
    max-width: 45%;
}




/* ----- PRICING SECTION ----- */


/* ----- BLOG SECTION ----- */


/* ----- FOOTER SECTION ----- */


/* ==================== BREAKPOINTS ==================== */


/* ----- X-Large devices (large desktops, 1200px and up) ----- */

@media (min-width: 1200px) and (max-width: 1500px) {
     :root {
        --container-width: 1140px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- Large devices (desktops, 992px and up) ----- */

@media (min-width: 992px) and (max-width: 1200px) {
     :root {
        --container-width: 960px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- Medium devices (tablets, 768px and up) ----- */

@media (min-width: 768px) and (max-width: 991px) {
     :root {
        --container-width: 760px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- Small devices (landscape phones, 576px and up) ----- */

@media (min-width: 576px) and (max-width: 767px) {
     :root {
        --container-width: 540px;
    }
    .container {
        max-width: var(--container-width);
    }
}


/* ----- X-Small devices (portrait phones, less than 576px) ----- */

@media (max-width: 575px) {
     :root {
        --container-width: 100%;
    }
    .container {
        max-width: var(--container-width);
        padding: 0 15px;
    }
}